[defaults]
inventory = ./inventory.ini
remote_user = odroid
host_key_checking = False
become_user = root
become_method = sudo
become_ask_pass = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
pipelining = True
